    <main class="principal">
       <section class=" principal__acompanhar container">
            <h1><span>Acompanhe seu pedido</span></h1>
            
            <div class="principal__acompanhar__campo">
                <span>Informe seu telefone ou codigo de rasteamento</span>
                <form action="">
                    <input type="text">
                    <button>Acompanhar</button>
                </form>
            </div>

       </section>
    </main>