
    <main class="principal">
       <section class=" principal__cadastro container">
            <h1><span>Cadastro</span></h1>
            <hr>
            
            <form class="principal__cadastro__campo" name="firebase" action="/cadastrar"  method="POST">
                <label for="usuario">
                    Nome Completo:
                </label>
                <input type="text" name="nomeCadastrar">
                <br>
                <label for="usuario">
                    E-mail:
                </label>
                <input type="text" name="email">
                <br>
                <label for="usuario">
                    Senha:
                </label>
                <input type="text" name="senha">
                <br>
                <label for="usuario">
                    Cidade:
                </label>
                <input type="text" name="cidade">
                <br>
                <label for="usuario">
                    Rua:
                </label>
                <input type="text" name="rua">
                <br>
                <label for="usuario">
                    Numero:
                </label>
                <input type="text" name="numero">
                <br>
                <label for="usuario">
                    Tipo de Endereço:
                </label>
                <input type="text" name="tipo">
                <br>
                <label for="usuario">
                    Informação Adicional:
                </label>
                <input type="text" name="informacao">
                <br>
                
                <input type="submit" class="logar" value="Criar Cadastro"></input>
                
            </form>
            

       </section>
    </main>
