 <main class="principal">
       <section class=" principal__cardapio container">
            <h1><span>Cardapio</span></h1>
            
            <div class="principal__cardapio__campo">
                <a href="" class="principal__cardapio__campo__item">
                    <span>Promoções</span>
                </a>
                <a href="" class="principal__cardapio__campo__item">
                    <span>Pizzas</span>
                </a>
                <a href="" class="principal__cardapio__campo__item">
                    <span>Acompanhamentos</span>
                </a>
                <a href="" class="principal__cardapio__campo__item">
                    <span>Bebidas</span>
                </a>
                <a href="" class="principal__cardapio__campo__item">
                    <span>Sobremesas</span>
                </a>
            </div>

       </section>
    </main>