    <main class="principal">
       <section class=" principal__conteudo container">
            <span>Principais Promoções</span>
            <hr>

            <div class="principal__banners">
                <img src="./img/banner-principal.png" alt="">
                <div>
                    <img src="./img/banner-1.png" alt="">
                    <img src="./img/banner-2.png" alt="">
                </div>
            </div>
            <img src="./img/pizza-footer.png" alt="">
       </section>
    </main>