   <main class="principal">
       <section class=" principal__login container">
            <h1><span>Login</span></h1>
            <hr>
            
            <form class="principal__login__campo">
                <label for="usuario">
                    Usuario:
                </label>
                <input type="text" name="usuario">
                <br>
                <label for="senha">
                    Senha:
                </label>
                <input type="text" name="senha">
                <a href="#">Esqueceu?</a>
                <br>
                <div>
                    <button class="logar">Continuar</button>
                </div>
            </form>
            <div class="principal__login__cadastro">
                <p>
                    Não tem cadastro?
                    <a href="#">Cadastre-se</a>
                </p>
                <p>
                    Ao continuar com o acesso, você concorda com a nossa <a href="#">Política de Privacidade</a>
                </p>
            </div>

       </section>
    </main>