    <main class="principal">
       <section class=" principal__reserva container">
            <span>Reservas</span>

            <div class="principal__reserva__conteudo">
                <a href="#" class="principal__reserva__conteudo__botao"><span>Clique e faça sua reserva</span></a>
                <div class="principal__reserva__conteudo__texto">
                   <span>Aceitamos reservas todos os dias, porém com um número limitado de mesas.
                    <br>
                    <br>
                    Para grupos maiores que os exibidos no site, por favor, entre em contato diretamente com a casa para checar a disponibilidade e fazer a reserva.
                    <br>
                    <br>                 
                    Clientes sem reserva também são sempre bem-vindos!</span>
                </div>
            </div>
       </section>
    </main>